<div class="container-fluid d-flex justify-content-center h-100">
  <div class="container-fluid d-flex flex-column">

    <div class="container-fluid logo d-flex justify-content-center p-2">
      <img src="https://www.fetep.org.br/arquivos/empresas/t/14403345658d905d4aaab90.22035831_350x300.jpg"
        alt="Logo do DUMS" class="logo">
    </div>

    <div class="container-fluid d-flex flex-column justify-content-center align-items-center divContentForm">

      <form [formGroup]="formCheck" class="container-fluid w-50 formLogin">


        <po-email p-clean name="email" required formControlName="email" class="w-50" p-label="Email"> </po-email>

        <div *ngIf="formCheck.controls['email'].invalid && formCheck.controls['email'].touched"
          class="container-fluid p-0 divErro">
          <span *ngIf="formCheck.controls['email'].errors?.['required']" class="textBody">
            Email precisa ser preenchido!
          </span>
          <span *ngIf="formCheck.controls['email'].errors?.['email']" class="textBody">
            Formato de Email inválido!
          </span>
        </div>

        <po-password p-clean name="senha" required minlength="8" formControlName="senha" class="w-50" p-label="Senha">
        </po-password>
        <div *ngIf="(formCheck.controls['senha']?.invalid && 
              (formCheck.controls['senha']?.touched || formCheck.controls['senha']?.dirty))"
          class="container-fluid p-0 divErro" id="divSpanError">

          <span *ngIf="formCheck.controls['senha']?.errors?.['required']" class="textBody">
            Senha precisa ser preenchida!
          </span>


          <span
            *ngIf="formCheck.controls['senha']?.errors?.['minlength'] && !formCheck.controls['senha']?.errors?.['required']"
            class="textBody">
            Senha precisa ter no mínimo 8 caracteres!
          </span>

          <span
            *ngIf="!formCheck.controls['senha']?.errors?.['minlength'] && formCheck.controls['senha']?.errors?.['invalidPassword']"
            class="textBody">
            Senha deve ter uma letra maiúscula e um caractere especial!
          </span>
        </div>

      </form>

    </div>

    <div class="container-fluid d-flex justify-content-center p-3 ">
      <po-button class="buttonLarge" p-label="Confirmar" [p-disabled]="formCheck.invalid" [p-loading]="checkLoading"
        (p-click)="sendLogin()"> </po-button>
    </div>

    <div class="container-fluid text-center">
      <p class="textBody">Ainda não possui uma conta?
        <a routerLink="/register">Cadastre-se</a>
      </p>
    </div>

    <div class="po-row d-flex justify-content-end pt-2 divToast">
      <po-toaster class="po-md-6 toastMsg" [p-hide]="hideToast" [p-message]="msgToast" [p-type]="type"></po-toaster>
    </div>

  </div>
</div>