<div class="container-fluid d-flex h-100">
  <div class="container-fluid d-flex flex-column justify-content-center">
    <div class="container-fluid p-0">
      <h1 class="text-center mb-5 Subheadings">Cadastre-se abaixo</h1>
    </div>

    <form [formGroup]="formCheck" class="container-fluid d-flex gap-2 w-75 h-50 p-2 pt-0">

      <div class="container-fluid col-6">

        <po-login p-clean minlength="2" formControlName="nomeCompleto" p-pattern="^(?=.*\s).{2,}$" required
          name="nomeCompleto" p-label="Nome completo*">
        </po-login>

        <div
          *ngIf="(formCheck.controls['nomeCompleto'].invalid && (formCheck.controls['nomeCompleto'].touched || formCheck.controls['nomeCompleto'].dirty))"
          class="container-fluid p-0 divErro">
          <span class="textBody" *ngIf="formCheck.controls['nomeCompleto'].errors?.['required']">Nome precisa ser
            preenchido!</span>
          <span class="textBody" *ngIf="formCheck.controls['nomeCompleto'].errors?.['minlength']">Nome precisa ser maior
            que 2 caracteres!</span>

          <span class="textBody"
            *ngIf="!formCheck.controls['nomeCompleto'].errors?.['required'] && !formCheck.controls['nomeCompleto'].errors?.['minlength'] && formCheck.controls['nomeCompleto'].errors?.['pattern']">
            Precisa de nome e sobrenome!
          </span>
        </div>

        <po-password p-clean name="senha" minlength="8" formControlName="senha" p-label="Senha*">
        </po-password>
        <div *ngIf="(formCheck.controls['senha']?.invalid && 
              (formCheck.controls['senha']?.touched || formCheck.controls['senha']?.dirty))"
          class="container-fluid p-0 divErro">

          <span *ngIf="formCheck.controls['senha']?.errors?.['required']" class="textBody">
            Senha precisa ser preenchida!
          </span>


          <span
            *ngIf="formCheck.controls['senha']?.errors?.['minlength'] && !formCheck.controls['senha']?.errors?.['required']"
            class="textBody">
            Senha precisa ter no mínimo 8 caracteres!
          </span>

          <span
            *ngIf="!formCheck.controls['senha']?.errors?.['minlength'] && formCheck.controls['senha']?.errors?.['invalidPassword']"
            class="textBody">
            Senha deve ter uma letra maiúscula e um caractere especial!
          </span>
        </div>

        <po-input p-clean name="cnpjCpf" [p-mask]="cnpjCpfMask" formControlName="cnpjCpf" [p-label]="labelCpfCnpj"
          minlength="11">
        </po-input>

        <div *ngIf="formCheck.controls['cnpjCpf'].invalid && formCheck.controls['cnpjCpf'].touched"
          class="container-fluid p-0 divErro">
          <span *ngIf="formCheck.controls['cnpjCpf'].errors?.['required']" class="textBody">
            CPF/CNPJ precisa ser preenchido!
          </span>
          <span *ngIf="formCheck.controls['cnpjCpf'].errors?.['minlength']" class="textBody">
            CPF são 11 digitos, CNPJ são 14 digitos!
          </span>
        </div>

      </div>

      <div class="container-fluid col-6">

        <po-email p-clean name="email" p-pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          formControlName="email" p-label="Email*">
        </po-email>
        <div *ngIf="formCheck.controls['email'].invalid && formCheck.controls['email'].touched"
          class="container-fluid p-0 divErro">
          <span *ngIf="formCheck.controls['email'].errors?.['required']" class="textBody">
            Email precisa ser preenchido!
          </span>

          <span class="textBody"
            *ngIf="!formCheck.controls['email'].errors?.['required'] && formCheck.controls['email'].errors?.['pattern']">
            Formato de Email inválido!
          </span>

        </div>

        <po-input name="fone" p-clean p-icon="po-icon po-icon-telephone" p-mask="(99) 9 9999-9999" p-label="Telefone*"
          formControlName="fone">
        </po-input>
        <div *ngIf="formCheck.controls['fone'].invalid && formCheck.controls['fone'].touched"
          class="container-fluid p-0 divErro">
          <span *ngIf="formCheck.controls['fone'].errors?.['required']" class="textBody">
            Telefone precisa ser preenchido!
          </span>
          <span *ngIf="formCheck.controls['fone'].errors?.['minlength']" class="textBody">
            Telefone precisa ter 11 caracteres!
          </span>
        </div>


        <po-radio-group class="d-flex justify-content-start" (p-change)="changeCpfCnpj($event)" name="choose"
          p-label=" " formControlName="choose" [p-columns]="2" [p-options]="choose">
        </po-radio-group>


      </div>
    </form>

    <div class="container-fluid d-flex justify-content-center">

      <po-button class="buttonLarge" (p-click)="sendForm()" p-label="Confirmar" [p-disabled]="formCheck.invalid"
        [p-loading]="checkLoading"> </po-button>

    </div>

    <div class="po-row d-flex justify-content-end pt-2">
      <po-toaster class="po-md-6" [p-hide]="hideToast" 
      [p-message]="msgToast" [p-type]="type"></po-toaster>
    </div>


  </div>


</div>