<div class="container-fluid d-flex h-100">
  <div class="container-fluid d-flex flex-column justify-content-center">
    <div class="container-fluid p-0">
      <h1 class="text-center mb-5">Cadastre-se abaixo</h1>
    </div>

    <form class="container-fluid d-flex gap-2 w-75 h-50 p-2">

      <div class="container-fluid col-6">
        <po-login p-clean name="login" p-label="Nome"> </po-login>
        <po-password p-clean name="password" p-label="Senha"> </po-password>
        <po-input p-clean name="cpf" (ngModelChange)="onInputChange($event)" [p-mask]="mask" p-label="CPF/CNPJ"
          (p-change-model)="onInputChange($event)" [p-maxlength]="18">
        </po-input>
      </div>

      <div class="container-fluid col-6">
        <po-email p-clean name="input" p-label="Email"> </po-email>
        <po-input name="Telefone" p-clean p-icon="po-icon po-icon-telephone" p-mask="(99) 99999-9999" p-label="Nome">
        </po-input>
      </div>
    </form>

    <div class="container-fluid d-flex justify-content-center">

      <po-button class="buttonLarge" p-label="Confirmar" [p-loading]="false"> </po-button>

    </div>


  </div>


</div>