/* You can add global styles to this file, and also import other style files */
.buttonLarge {
  --background-hover: #01a1e4;
  --color: #01a1e4;
  --padding: 0px 200px;
  --border-color-hover: white;
  --background-pressed: #1998ce77;
  ---outline-color-focused: #01a1e4 !important;
  --font-family: "Montserrat", sans-serif !important;
}

.po-input {
  --color-hover: black !important;
  --background-hover: #f8f8f8 !important;
  --background-pressed: #e5ff0077 !important;
  --outline-color-focused: #01a1e4 !important;
  --font-family: "Montserrat", sans-serif !important;
}

.po-label[p-field=true] {
  --font-family: "Montserrat", sans-serif !important;
}

.po-field-icon:not(.po-field-icon-disabled) {
  color: #01a1e4 !important;
}

/* .po-menu-panel {
  border-right: 1px solid lightgray !important;
  position: relative !important;
}

.po-menu-panel-item {
  border-top: none !important;
  color: #01a1e4;
} */

.textBody {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.textMedium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.Subheadings {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.po-field-container-content {
  --padding: 0px 0px 0px !important;
}

po-input.ng-invalid.ng-touched .po-input {
  border: 1px solid #be3e37 !important;
}

po-input.ng-invalid.ng-touched .po-field-icon {
  color: #be3e37 !important;
}

po-login.ng-invalid.ng-touched .po-input {
  border: 1px solid #be3e37 !important;
}

po-login.ng-invalid.ng-touched .po-field-icon {
  color: #be3e37 !important;
}

po-password.ng-invalid.ng-touched .po-field-icon {
  color: #be3e37 !important;
}

po-password.ng-invalid.ng-touched .po-input {
  border: 1px solid #be3e37 !important;
}

po-email.ng-invalid.ng-touched .po-field-icon {
  color: #be3e37 !important;
}

po-email.ng-invalid.ng-touched .po-input {
  border: 1px solid #be3e37 !important;
}

.po-radio input[type=radio]:checked {
  background-color: white;
  color: #01a1e4;
  border-color: #01a1e4;
}

po-radio {
  --color-checked: #01a1e4;
  --shadow-color-hover: lightgray;
  --color-hover: #01a1e4;
}

.po-menu-list {
  padding: 0px !important;
}

.po-menu-item {
  color: #01a1e4 !important;
  --background-color-hover: #6c757d29;
  --background-color-pressed: #6c757d3d;
}

.po-menu-collapse-button-icon {
  color: #01a1e4 !important;
}

.po-menu-filter {
  --color-hover: #0dcaf0;
  --background-hover: #fff;
  --color-focused: #01a1e4;
}

.po-page-content {
  padding: 0px;
}

.po-listbox-list {
  padding: 0px;
  margin: 0px;
}

.po-popup .po-item-list__action {
  color: #198754;
}

po-popup po-item-list {
  --color-hover: #198754;
  --background-hover: #19875947;
  
}

@media (max-width: 1024px) {
  .buttonLarge {
    --padding: 0px 100px;
  }
}

@media (max-width: 576px) {
  .buttonLarge {
    --padding: 0px 50px;
  }

  .po-radio-group {
    flex-direction: column !important;
  }
}

@media (max-width: 576px) {
  .po-toaster-inline .po-toaster-actions {
    padding: 0px !important;
  }
}