<div class="container-fluid p-0">

  <po-table [p-auto-collapse]="true" [p-columns]="columns" [p-hide-columns-manager]="true" [p-hide-table-search]="false"[p-items]="items" p-container="border" [p-striped]="false" [p-actions]="actions" [p-actions-right]="true" [p-text-wrap]="true">
    <ng-template p-table-row-template let-rowItem let-i="rowIndex">

      <po-widget p-title="Transport detail {{ rowItem.code }}">
        <div class="po-row">
        </div>

        <div class="po-row">
          <po-info class="po-md-4" p-label="Batch of product" [p-value]="rowItem.batch_product">
          </po-info>

          <po-info class="po-md-4" p-label="Driver" [p-value]="rowItem.driver"> </po-info>

          <po-info class="po-md-4" p-label="License plate" [p-value]="rowItem.license_plate">
          </po-info>
        </div>
      </po-widget>
    </ng-template>

  </po-table>
</div>
<!-- <div class="po-row">
  <po-button class="po-md-3" p-label="Add Item" (p-click)="addItem()"> </po-button>
</div> -->