.formEmitente {
  background: #8080801a
}

span {
  color: red;
  font-size: small;
}

.divErro {
  height: 17px !important;
  display: flex;
  align-items: center;
}

@media(max-width:768px) {
  .divButton {
    justify-content: center;
  }

  .divMain{
    padding: 10px 0px !important;
  }
}